@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  
} */

/* src/index.css */

/* if you want to change the font you have to do it in index.css file */

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Pacifico&display=swap');


.gallery-page {
  font-family: "Pacifico", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}


